PII_DB_URL_KZ=postgres://postgres:admin@piidb:5432/postgres
CLINICAL_DB_URL_KZ=postgres://postgres:admin@clinicaldb:5432/postgres
MASTER_DB_URL=postgres://postgres:admin@masterdb:5432/postgres
NODE_ENV=development
PORT=3001

USER_URL=http://user:3010

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

REDIS_CACHE=redis://redis:6379